.login-form {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.login-form input[id="login-user"] {
    margin-bottom: -1px;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    width: 80px;
}

.login-form input[id="login-password"] {
    margin-top: -1px;
    border-top-right-radius:0;
    border-top-left-radius:0;
    width: 80px;
}

.sidebar-container {
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-block-button {
    max-width: 300px;
}

.navbar {
    z-index: 1000 !important;
    box-shadow: 0px 1px 0 rgba(0, 0, 0, .1);
    background-color: rgba(255, 255, 255, .1);
}

.nav-link:hover {
    cursor: pointer;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
    float: right;
    margin-top: 8px;
}

.dropdown-menu {
    width: 100%;
}

.modal.show {
    display: flex !important;
}
.modal .modal-dialog {
    margin: auto;
}
#iniSesion{
    width: 50%; 
}

.reloj{
    float: left;
    font-size: 14pt;
    font-family: Arial,sans-serif;
    color: #fff;
}

html,body {
  height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}